# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/
ENV/
ENV*/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal
media/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Migrations (optional - if you want to ignore them)
# **/migrations/*
# !**/migrations/__init__.py
